@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 48 72% 96%;
    --foreground: 0 0% 17%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17%;

    --primary: 185 45% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 176 98% 17%;
    --secondary-foreground: 0 0% 100%;

    --accent: 11 99% 58%;
    --accent-foreground: 0 0% 100%;

    --neutral: 0 0% 85%;
    --neutral-foreground: 0 0% 17%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;

    --destructive: 0 50% 52%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 185 45% 54%;

    --radius: 0.5rem;

    --chart-1: 11 99% 58%;
    --chart-2: 185 45% 54%;
    --chart-3: 176 98% 17%;
    --chart-4: 48 72% 96%;
    --chart-5: 0 0% 85%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --card: 0 0% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 185 45% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 176 98% 17%;
    --secondary-foreground: 0 0% 100%;

    --accent: 11 99% 58%;
    --accent-foreground: 0 0% 100%;

    --neutral: 0 0% 40%;
    --neutral-foreground: 0 0% 100%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 60%;

    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 185 45% 54%;

    --chart-1: 11 99% 58%;
    --chart-2: 185 45% 54%;
    --chart-3: 176 98% 17%;
    --chart-4: 48 72% 96%;
    --chart-5: 0 0% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
